POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=
CLIENT_ORIGIN=http://localhost:3000
PORT=:8080

ACCESS_TOKEN_SECRET=your-access-token-secret-key
REFRESH_TOKEN_SECRET=your-refresh-token-secret-key
ACCESS_TOKEN_EXPIRY=24h
REFRESH_TOKEN_EXPIRY=720h

AWS_REGION=
AWS_BUCKET_NAME=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

EMAIL_ID=
EMAIL_PASSWORD=

API_KEYS_YT=your_api_key_1,your_api_key_2